* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
}

.products-header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 30px;

}

.products-div {
    display: flex;
    width: 1500px;

}

.odu {
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    height: 1000px;
    padding: 15px;
}

.product-container {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 15px;
    margin: 30px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 20px 100px 40px;
   


}

.product-container p{
    margin-left: 50px;
    color: red;

}


.product-container-singleitem {
    padding: 80px;

}

.product-container-singleitem h1{
    font-size: 15px;

}

.product-container-singleitem a{
    color: black;
    text-decoration: none;

}

.product-container-singleitem img {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.product-desc {
    width: 800px;
    padding: 20px;
}

.product-desc-singleitem {
    padding: 20px;
}

.product-desc-singleitem p {
    font-size: 15px;
    color: red;

}

.product-container img {
    width: 200px;
    height: 200px;
    padding: 10px;
}


.card {
    margin-left: 20px;
    width: 1300px;
}

.card img {
    padding: 20px;
}



.skel {
    display: flex;
}

#first-skel {
    padding: 100px 0px 0px 80px;
}

#second-skel {
    margin: 120px 250px 0px 50px;

}

.navbar-carticon {
    color: darkblue;
}

#menu-links {
    text-decoration: none;
    padding-bottom: 10px;
}

.logo {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-left: 30px;
}

.products-header {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    text-align: center;
}

#add-to-cart-btn {
    margin-left: 5px;
}

.product-btns {
    padding: 30px;
}

.inp {
    display: flex;
    flex-direction: column;

}

::placeholder {
    color: gray;
    font-size: 13px;
    padding: 10px;
}

.navbar {
    width: 100%;
    height: 50px;
    display: flex;


}


#navbarSupportedContent {
    margin: 5px 0px 0px 600px;

}


#navbarSupportedContent ul {
    display: flex;
}


#navbarSupportedContent ul li {
    list-style-type: none;
    padding: 20px;

}

.zaracho {
    display: none;
}

#prod-but {
    margin: 30px 0px 30px 40px;
}

.single-item-fontawesome{
    font-weight: lighter;
    font-size: 10px;
    margin-right: 5px;
}

.summ{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

#minussign{
    margin: 20px 20px 20px 20px;
}

input[type=number]{
    padding: 3px 3px 3px 3px;
    margin-left: 5px;
}

.active {
    border-bottom: 10px solid black;
    
    
  }

  



@media only screen and (max-width: 800px) {

    .home{
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }

    .prod{
        overflow-x: hidden;
    }


    
    label {
        font-size: 13px;
    }


    .zaracho {
        display: block;
        margin-right: 35px;
        z-index: 99;

    }

    #menu-links {
        font-size: 15px;
    }

    #navbarSupportedContent {
        display: none;
    }

    #navbarSupportedContentMobile {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        z-index: 99;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background-color: whitesmoke;
        z-index: 10;


    }


    #navbarSupportedContentMobile ul {
        margin-top: 20px;


    }

    #navbarSupportedContentMobile li {
        list-style-type: none;
        margin-top: 40px;
        color: black;
    }

    .products-header {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        margin:50px 0px 50px 0px;
    
    }
    


    .product-container {
        display: flex;
        padding: 0px;
        width: 390px;
        height: 400px;
        margin-bottom: 200px;
        margin-left: 0px;
        margin-right: 10px;
        

    }

    .product-container p{
        color: red;
        margin-left: 35px;
    }

    .product-container img {
        width: 220px;
        height: 120px;
        padding: 30px;
    }

    .product-desc p {
        width: 200px;
        font-size: 14px;
    }

    .product-btns {
        display: flex;
        margin-right: 200px;
        width: 600px;
        padding: 0px;
    }

    
    #add-to-cart-btn {
        width: 90px;
    }

    .odu {
        display: flex;
        flex-wrap: wrap;
        width: 390px;
        height: 400px;

    }

    .product-container {
        width: 100px;
        height: 80px;
    }

    
    .product-container img {
        width: 150px;
        height: 150px;

    }

    .pro{
        height: 1000px;
    }

    #prod-but {
        width: 70px;
        margin-left: 35px;
        margin-bottom: 15px;
    }

    .product-container-singleitem{
        padding: 20px;

    }

    .product-desc-singleitem {
        padding: 0px;
    }
    

















}