*{
    text-decoration: none;
}

a{
    color: black;
}

.products-header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 30px;

}

.prod-container{
    display: flex;
    padding: 80px;
}

.prod-text{
    padding: 50px;

}

.products-img{
    width: 10%;
}


.card{
    margin-left: 20px;
    width: 1300px;
}

.card img{
    padding: 20px;
}



.skel{
    display: flex;
}

#first-skel{
    padding: 100px 0px 0px 80px;
}

#second-skel{
    margin: 120px 250px 0px 50px;

}

.navbar-carticon{
    color:darkblue;
}

.menu-links{
    text-decoration: none;
}