* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
}

button {
    cursor: pointer;
}

.products-header {
    text-align: center;
    color: #483248;
    font-size: 25px;
    margin-top: 30px;

}

.products-div {
    display: flex;
    width: 1330px;
    height: fit-content;

}

.odu {
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    height: fit-content;
    padding: 15px;
}

.product-container {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 20px 100px 40px;



}

.product-container p {
    margin-left: 50px;
    color: red;

}


.product-container-singleitem {
    padding: 80px;

}

.product-container-singleitem h1 {
    font-size: 15px;

}

.product-container-singleitem a {
    color: black;
    text-decoration: none;

}

.product-container-singleitem img {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.product-desc {
    width: 800px;
    padding: 20px;
}

.product-desc-singleitem {
    padding: 20px;
}

.product-desc-singleitem p {
    font-size: 15px;
    color: black;

}

.product-container img {
    width: 200px;
    height: 200px;
    padding: 10px;
}


.card {
    margin-left: 20px;
    width: 1300px;
}

.card img {
    padding: 20px;
}



.skel {
    display: flex;
}

#first-skel {
    width: 600px;
    height: 100vh;
    padding: 0px;
    display: flex;
    margin: 0px 0px 0px 0px;
}   

.first-skel-skel{
    margin: 160px 0px 0px 70px;
}


.second-skel-skel{
    margin: 0px 0px 0px -25px;
    position: absolute;
    top: 150px; 
    left: 80px;
}


.last-skel-skel{
    margin: 155px 50px 0px 20px;
}

.navbar-carticon {
    color: #E6E6FA;
    margin-right: 5px;
}

#menu-links {
    text-decoration: none;
    padding-bottom: 10px;
}

.logo {
    color: #483248;
    font-size: 25px;
    margin: 30px 0px 0px 30px;
    font-family: monospace;

}

.logo-links {
    display: flex;
    text-decoration: none;

}

.products-header {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    text-align: center;
}

#add-to-cart-btn {
    margin-left: 5px;
}

.product-btns {
    padding: 30px;
}

.inp {
    display: flex;
    flex-direction: column;

}

::placeholder {
    color: gray;
    font-size: 13px;
    padding: 10px;
}

.navbar {
    width: 100%;
    height: 150px;
    display: flex;


}

.hir {
    width: 1000px;
    margin: -10px 0px 0px 150px;
}

.hira {
    width: 1000px;
    margin: 10px 0px 0px 165px;
}

.hirrr {
    display: none;
}


#navbarSupportedContent {
    margin: 5px 0px 0px 200px;

}


#navbarSupportedContent ul {
    display: flex;
}


#navbarSupportedContent ul li {
    list-style-type: none;
    padding: 20px;

}

.zaracho {
    display: none;
}

#prod-but {
    margin: 30px 0px 30px 40px;
}

.single-item-fontawesome {
    font-weight: lighter;
    font-size: 10px;
    margin-right: 5px;
}

.summ {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

#minussign {
    margin: 20px 20px 20px 20px;
}

input[type=number] {
    padding: 3px 3px 3px 3px;
    margin-left: 5px;
}

.active {
    border-bottom: 3px solid black;


}

#vvv {
    margin-left: 10px;
}

.ov {
    font-family: 'Courier New', Courier, monospace;
}


.kirk {
    margin-right: 300px;
    margin-top: 50px;

}

.koko {
    display: flex;
    color: pink;
    font-size: 20px;
}


.first-conti {
    width: 100%;
    height: fit-content;
    font-family: cursive;
    color: black;
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;
    background-color: #483248;
    ;
}


.foot-linko {
    display: flex;
    margin: 0px 0px 0px 30px;
}

.foot-linko img {
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
}

.hell {
    width: 300px;
    margin-left: 0px;
    margin-right: 0px;
}

.hell h4 {
    font-size: 10px;
    font-weight: lighter;
    color: pink;
    width: 250px;
    font-family: verdana;
}

.kink {
    width: 100px;
    height: 100px;
    margin: 0px 0px 10px 40px;
    border-radius: 10px;
}

.olo {
    margin: 20px 100px 0px 0px
}

.olo h1 {
    color: pink;
    font-size: 15px;
}

.footer-img {
    width: 100px;
    margin: 5px 0px 0px 100px;
    border-radius: 10px;
}

.second-footer-desktop {
    display: none;
}

.shop-now a {
    color: white;
    text-decoration: none;

}

.login-loading {
    text-align: center;
    margin-top: 50%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

}

.bg {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: url("https://images.unsplash.com/photo-1598971861713-54ad16a7e72e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHNob3BwaW5nfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    object-fit: fill;
    opacity: 0.6;



}


.bgg {
    position: relative;
    z-index: 1;
    padding: 80px 0px 0px 30px;
}

.bgg h1 {
    text-align: center;
}

.register-div {
    position: relative;
    z-index: 1;
    width: 100%;
    height: fit-content;

}

.logo-div img {
    width: 120px;
    height: 100px;
    border-radius: 15px;
    margin: 0px 0px 0px 120px;
}


.formis {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding: 15px;
    position: relative;
    z-index: 1;


}

.formis .inp {
    width: 400px;

}

#create-btn {
    margin: 50px 1000px 0px 0px;
    display: flex;
    flex-direction: column;
}

.filt h1{
    font-size: 15px;
    margin: 20px 0px 10px 10px;
}

.filt-fontawesome{
    margin: 0px 5px 0px 5px;

}

.filter{
    width: 1345px;
}

.filter img{
    width: 140px;
    height: 135px;
    margin: 0px 0px 0px 600px;

}

.filter p{
    font-size: 15px;
    width: 1250px;
    margin: 20px 0px 20px 40px;
}


#filter-1{
    margin: 10px 0px 100px 40px;

}

#filter-2{
    margin: 10px 0px 100px 10px;

}

#filter-2 a{
    text-decoration: none;

}

.filter-div{
    margin: -30px 0px 60px 1150px;
}


.filter-home-div{
    margin: 80px 0px 0px 80px;
}







@media only screen and (max-width: 800px) {

    .navbar {
        background-color: #483248;

    }


    .home {
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }

    .hir {
        display: none;
    }

    .hira {
        display: none;
    }

    .hirrr {
        color: pink;
        display: flex;
        width: 70%;
        margin-left: 55px;
    }


    .prod {
        overflow-x: hidden;
    }



    label {
        font-size: 13px;
    }


    .zaracho {
        display: block;
        margin-right: 35px;
        z-index: 99;
        color: white;
        font-size: 20px;
        font-weight: bold;

    }

    #menu-links {
        font-size: 15px;
        color: white;
    }

    #navbarSupportedContent {
        display: none;
    }

    #navbarSupportedContentMobile {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        z-index: 99;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background-color: #483248;
        z-index: 10;


    }


    #navbarSupportedContentMobile ul {
        margin-top: 20px;


    }

    #navbarSupportedContentMobile li {
        list-style-type: none;
        margin-top: 40px;
        color: black;
    }

    .products-header {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-weight: lighter;
        margin: 50px 25px 50px 0px;

    }



    .product-container {
        display: flex;
        padding: 0px;
        width: 390px;
        height: fit-content;
        margin-bottom: 200px;
        margin-left: 2px;
        margin-right: 10px;
        margin-top: 20px;
    }

    .product-container p {
        color: black;
        margin-left: 35px;
    }

    .product-container img {
        width: 220px;
        height: 120px;
        padding: 30px;
    }

    .product-desc p {
        width: 200px;
        font-size: 14px;
    }

    .product-btns {
        display: flex;
        margin-right: 200px;
        width: 600px;
        padding: 0px;
    }


    #add-to-cart-btn {
        width: 90px;
    }

    .products-div {
        height: fit-content;
    }

    .odu {
        display: flex;
        flex-wrap: wrap;
        width: 390px;
        height: fit-content;
        margin-left: -15px;

    }

    .product-container {
        width: 100px;
        height: 80px;
    }


    .product-container img {
        width: 150px;
        height: 150px;

    }

    .pro {
        height: 1000px;
    }

    #prod-but {
        width: 80px;
        height: 40px;
        margin-left: 35px;
        margin-bottom: 8px;
        padding: 0px;
        font-size: 15px;
    }

    .product-container-singleitem {
        padding: 20px;

    }

    .product-desc-singleitem {
        padding: 0px;
    }


    .kirk {
        display: flex;
        flex-direction: row;
        margin: 0px 0px 0px 55px;
    }


    .first-conti {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: 400px;
        height: 400px;
        margin: 1200px 0px 0px 0px;
        padding-bottom: 40px;
        font-family: sans-serif;
        background-color: black;

    }



    .hell {
        text-align: center;
        width: 350px;
        margin: 5px 0px;
    }

    .kink {
        width: 110px;
        height: 100px;
        border-radius: 15px;
        margin: 0px 0px 0px 0px;
    }

    .ig {
        width: 25px;
        height: 25px;
        border-radius: 5px;
        margin-bottom: 5px;

    }

    .whatsapp {

        width: 25px;
        height: 25px;
        border-radius: 5px;
        margin-bottom: 5px;

    }

    .linkedin {

        width: 25px;
        height: 25px;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    .ig-div {
        display: flex;
        flex-direction: row;
        margin: 10px 10px 0px 20px;
    }

    .ig-div h5 {
        font-size: 15px;
    }


    .whatsapp-div h5 {
        font-size: 15px;
    }

    .linkedin-div h5 {
        font-size: 15px;
    }

    .whatsapp-div {
        margin: 10px 10px 0px 0px;

    }

    .linkedin-div {
        display: flex;
        flex-direction: row;
        margin: 10px 800px 0px 0px;

    }

    #create-btn a {
        width: 300px;
    }


    .formis .inp {
        width: 300px;

    }

    .succ {
        text-align: center;
        margin-top: 50%;
        font-family: 'Courier New', Courier, monospace;
    }

    .logo {
        font-size: 16px;
        color: pink;
        margin: 40px 0px 0px 10px;
    }

    .logo-links {
        display: flex;
        text-decoration: none;


    }



    .logo-div img {
        width: 110px;
        height: 100px;
        border-radius: 15px;
        margin: 0px 0px 0px 20px;
    }


    .hell h4 {
        display: none;
        font-size: 10px;
        font-weight: lighter;
        color: pink;
        width: 250px;
        font-family: verdana;
    }

    .foot-linko {
        margin: 30px 0px 0px 120px;
    }

    .koko {
        font-size: 15px;
        margin-top: 20px;
        margin-left: 50px;
    }

    .olo {
        display: flex;
        flex-direction: row;
        margin: 0px 0px 0px 90px;
    }

    .olo h1 {
        margin: 0px 2px 0px 2px;
    }

    .skel {
        display: flex;
    }
    
    #first-skel {
        width: 300px;
        height: 100vh;
        padding: 0px;
        display: flex;
        margin: 0px 0px 0px 0px;
    }   
    
    .first-skel-skel{
        margin: 160px 0px 0px 20px;
        height: 20px;
        width: 20px;
    }
    
    
    .second-skel-skel{
        margin: 100px 0px 0px -30px;
        position: absolute;
        top: 150px; 
        left: 80px;
    }

    
.filter{
    width: 100%;
}

.filter img{
    width: 140px;
    height: 135px;
    margin: 0px 0px 0px 100px;

}

.filter p{
    font-size: 15px;
    width: 330px;
    margin: 20px 0px 20px 20px;
}


#filter-1{
    margin: 10px 0px 100px 40px;

}

#filter-2{
    margin: 10px 0px 100px 10px;

}

#filter-2 a{
    text-decoration: none;

}

.filter-div{
    margin: -30px 0px 60px 200px;
}

.filter-home-div{
    margin: 30px 0px 0px 20px;
}
    
    
    

























}